<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Title</title>
  </head>

  <body>
    <div id="app">
      <label for="male">男</label>
      <input type="radio" name="sex" id="male" value="男" v-model="sex" />
      <label for="female">女</label>
      <input type="radio" name="sex" id="female" value="女" v-model="sex" />
      <!-- 此时name可以省略 -->
      <br />
      <h2>性别：{{sex}}</h2>
    </div>

    <script src="/lib/vue.js"></script>
    <script>
      const vm = new Vue({
        el: "#app",
        data: {
          message: "Hello",
          sex: "女",
        },
        methods: {},
      });
    </script>
  </body>
</html>
